.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    display: block;
}

.nav-dark {
    transition: 2000ms;
    background: #141414f6;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    margin-right: 50px;
}

.search-icon {
    position: absolute;
    left: 8px;
    width: 19px;
    height: 19px;
    pointer-events: none;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 15px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-input:focus {
    border-bottom-color: #ff9900;
}

.search-container {
    position: relative;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.566);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 5px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.suggestion-item:hover {
    background-color: #74747423;
}

@media (max-width: 1100px) {
    .navbar-left ul {
        display: none;
    }
}

@media (max-width: 800px) {
    .navbar {
        padding: 20px 4%;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar img {
        height: 25px;
    }
}

@media (max-width: 500px) {
    .navbar img {
        height: 20px;
    }

    .navbar .bell {
        display: none;
    }

    .navbar-right {
        gap: 10px;
    }

    .search-form {
        width: 62%;
    }

    .navbar-right {
        display: flex;
        justify-content: end;
    }
}